<p id="notice"><%= notice %></p>

<h1>Today's Weather</h1>

<%= link_to 'Add New City', new_forcast_path, id: "new_forcast_ajax", remote: true %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Address</th>
      <th>Current Temperature</th>
      <th>Icon</th>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forcasts.each do |forcast| %>
      <tr>
        <td><%= forcast.address %></td>
        <td><%= forcast.response['temperature'] %> <%= image_tag "degree.png", style:"width:40px;height:40px;" %></td>
        <td><%= image_tag (forcast.response['icon'] + ".png") %></td>
        <td><%= forcast.response['summary'] %></td>
        <td><%= link_to 'Show', forcast %></td>
        <td><%= link_to 'Edit', edit_forcast_path(forcast) %></td>
        <td><%= link_to 'Destroy', forcast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
